<div class="default_page">
    <div class="container">
        <a class="back_link" href="/">Вернуться назад</a>

        {% for info in name %}
            <form action="" method="post">
                <div class="order">
                    <div class="order__wrap-info">
                            <img src="/uploads/{{ info.photo }}" alt="">
                    </div>

                    <fieldset>
                        <legend>Хочу записаться к барберу {{ info.name }}</legend>
                        <form action="" method="post">
                            <input type="date">
                            <input type="time">
                        </form>

                    </fieldset>
                </div>
            </form>

        {% endfor %}
    </div>

</div>