<div class="default_page">

    <fieldset>
        <legend><h1>Добавить нового мастера</h1></legend>


        <form action="" method="post" class="employees_form" enctype="multipart/form-data">

            <input type="text" name="name_employee" placeholder="Введите имя мастера">
            <input type="text" name="experience_employee" placeholder="Введите опыт мастера">

            <label for="photo">
                Загрузите фото мастера
                <input id="photo" type="file" name="image" >
            </label>



            <button type="submit" name="add_employee">Добавить мастера</button>

        </form>

    </fieldset>


</div>